body {
  margin: 0;
  padding: 0;
}
html, * {
  scroll-behavior: smooth;

}
nav {
  background-color: #f2f2f2;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
  margin: auto;
}
.navbar {
  position: fixed;
  width: 100%;
  top:0
}
.container {
  margin: 0 auto;
  max-width: 1100px;
  margin-top: 72px;
  padding: 0 32px;
}
main {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: center;
  gap: 40px;
}
.heading {
  text-align: center;
  margin-top: 120px;
}
.form-contact {
  background-color: #EDF0F4;
  padding: 40px 40px;
  border-radius: 4px;
}

.content {
  width: fit-content;
}
.heading h1 {
  margin: 0 auto;
  max-width: 500px;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
.use-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input-class {
  border: 2px solid rgb(201, 201, 201);
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  padding: 16px 12px;
  font-size: 16px;
  font-weight: 500;
  margin-top:12px;
}
.divider {
  max-width: 200px;
  margin: 0 auto;
  border-bottom: 2px solid #EDF0F4;
  margin-top: 30px;
  margin-bottom: 30px;
}
.list {
  display: flex;
  gap: 20px;
  max-width: 500px;
}
.list p {
  font-size: 18px;
}
.list-number {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.para {
  font-size: 18px;
  max-width: 500px;
}
.text h3 {
  padding: 0;
  margin: 0;
}
.text p {
  margin-top: 8px;
  font-style: italic;
}
.text-box {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}
input:focus, select:focus {
  outline: none;
}
.btn-submit {
  padding: 18px 12px;
  background-color: #29323D;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.input-box {
  display: flex;
  flex-direction: column;
}
li {
  margin-left: auto;
  border: 2ch;
}

li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 10px 15px;
  transition: color 0.3s ease-in-out;
}

li a:hover {
  color: rgb(97, 225, 237);
}

.logo img {
  width: 100px;
}

.numbox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EDF0F4;
  width: 64px;
  height: 64px;
  font-size: 16px;
  color: #9FAFC1;
  font-weight: 700;
  border-radius: 50%;
  font-size: 32px;
}
.ourpackage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  background-color: #EDF0F4;
  color: #29323D;
  margin-top: 40px;
  margin-bottom: 40px;
}

.package {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}

.package div {
  max-width: 300px;
}

.call-to-action {
  margin: 40px auto;
  width: 100%;
  border-top: 1px solid #EDF0F4;
  border-bottom: 1px solid #EDF0F4;
  padding: 40px 0;
  text-align: center;
}
.call-to-action p {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 32px;
}
.call-to-action button {
  margin-top: 40px;
  padding: 20px 40px;
  color: white;
  font-weight: 600;
  font-size: 18px;
  background-color: rgb(43, 43, 43);
  border: none;
  outline: none;
  cursor: pointer;
}

footer {
  width: 100%;
  text-align: center;
}

.terms {
  display: flex;
  gap: 20px;
  margin: 0 auto;
  width: fit-content;
}
.terms a {
  text-decoration: none;
  color: #929292;
}

footer p {
  color: #929292;
}

@media only screen and (max-width: 709px) {
  .package {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 500px) {
  .package {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1000px) {
  main {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}